.flex-layout1 {
    display: flex;
  }
  
  .flex-layout1 > *:nth-last-child(2) {
    flex: 1;
  }
  
  .flex-layout1 > *:last-child {
    margin: auto;
  }
  
  .flex-layout2 {
    display: flex;
    height: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
  }
  
  .flex-layout3 {
    display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .flex-layout3:focus {
    outline: none;
  }
  
  .button-group > .MuiButton-root {
    margin-right: 8px;
    left: -8px;
  }